<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="registers.component.css"> 
</head>

<body>
    <div class="register">
        <h1>Registrar Usuario</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>

            <div class="email">
                <input type="email" required>
                <label>Correo Electrónico</label>
            </div>

            <div class="password">
                <input type="password" required>
                <label>Contraseña</label>
            </div>

            <div class="confirm-password">
                <input type="password" required>
                <label>Confirmar Contraseña</label>
            </div>

            <input type="submit" value="Registrarse">
            <div class="login-link">¿Ya tienes una cuenta? <a href="#">Iniciar sesión</a></div>
        </form>
    </div>
</body>

</html>

  
  